ul.blogList
  each post in posts
    li
      - var date = post.meta.date
      - var options = { year: 'numeric', month: 'short', day: 'numeric' }
      span.date #{date.toLocaleString('es-MX', options)}
      a(href=`/posts/${post.path}`)
        |#{post.meta.title}
