.pageContent
  padding: 10px
  max-width: 800px
  margin: 0 auto
  .head
    text-align: center
    margin-bottom: 50px
  .images
    text-align: center
    img
      width: 30vw
      max-width: 300px
      margin: 10px
  .socialNetworks ul
    padding: 0
    list-style: none
    display: flex
    justify-content: space-around
    i
      margin-right: 10px
  .navigator
    a
      color: var(--warning)
      text-decoration: none
    display: flex
    justify-content: space-between
