content
  .head
    h1 #{siteName}
    div.primary.
      Rodando andamos y en los caminos nos encontramos<br/>
      Vamos todos y todos regresamos<br/>
      Nadie se queda en el camino

  h2 Acerca de nosotros
  p.
    Los armaños somos un motoclub familiar con capítulos en Jalisco y Querétaro. Nos gusta salir a rodar con quien sea y cuando sea. Si nos ves en el camino, salúdanos.

  h2 Nuestras redes sociales
  p.
    Nos gusta grabar nuestas rodadas y las publicamos en varios lugares, también si participamos en algún evento ahi lo publicamos. Nos puedes encontrar en:
  ul.socialNetworks
    li: a(href="https://www.facebook.com/groups/armanos", target="_blank")
      i(class="fa-brands fa-facebook")
      |Facebook

    li: a(href="https://www.youtube.com/@losarmanos", target="_blank")
      i(class="fa-brands fa-youtube")
      |Youtube

    li: a(href="https://www.instagram.com/los_armanos/", target="_blank")
      i(class="fa-brands fa-instagram")
      |Instagram
  
  h2 Los Come Polvo
  p.
    Los Come Polvo son una subdivisión de Los Armaños donde nos gusta ensuciarnos las botitas y hacer offroad. Nos puedes encontrar en
  ul.socialNetworks
    li: a(href="https://www.instagram.com/comepolvo/", target="_blank")
      i(class="fa-brands fa-instagram")
      |Instagram

  h2 ¿Te encontraste con nosotros?
  p.
    Es un gusto saludarte, si nos tomaste una foto, no dudes en taggearnos en nuestras redes sociales

  h2 Uso de marca y prensa
  p.
    Los Armaños somos una marca registrada y nuestro logo está protegido bajo derechos de autor. Si ya hablaste con alguien de nosotros y vas a usar nuestro logo en tu evento, puedes descargarlo de aqui mismo.
  .images
    a(href="/images/logohd.png", target="_blank"): img(src="/images/logohd.png")
    br
    a(href="/images/logohd.png", target="_blank")
      i(class="fa-solid fa-download")
