header
  background: url(/images/header.jpg) no-repeat top center
  min-height: 400px
  background-size: cover
  border-bottom: 1px solid var(--primary)
  img
    max-width: 50px
    opacity: 0.5
    margin: 10px
