palPrimary = #5AB1BB
palSuccess = #A5C882
palWarning = #F7DD72
palDanger = #E2856E
palContrast = #fafafa
palBackground = #2F2D2E

body
  --primary: palPrimary
  --darkPri: darken(palPrimary, 10)
  --lightPri: lighten(palPrimary, 10)
  --success: palSuccess
  --darkSuc: darken(palSuccess, 10)
  --lightSuc: lighten(palSuccess, 10)
  --warning: palWarning
  --darkWar: darken(palWarning, 10)
  --lightWar: lighten(palWarning, 10)
  --danger: palDanger
  --darkDan: darken(palDanger, 10)
  --lightDan: lighten(palDanger, 10)
  --contrast: palContrast
  --darkCon: darken(palContrast, 10)
  --lightCon: lighten(palContrast, 10)
  --background: palBackground
  --darkBac: darken(palBackground, 10)
  --lightBac: lighten(palBackground, 10)

  background-color: var(--background)
  color: var(--contrast)
  font-family: sans-serif
  margin: 0
  padding: 0
  box-sizing: border-box

@import "header.styl"
